* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  /* flex-direction: column; */
  height: calc(100vh - 64px);
  width: 100%;

  align-items: flex-start;
  flex-wrap: wrap;

 
}

.container section {
  position: relative;
}

:root {
  --white: #fff;
  --background: #f7f8f9;
  --blue: #0b5fff;
  --dark: #000;
  --gray-input: #f1f2f5;
  --secondary: #6b6c7e;

  /* --text-highlight: #b3b9ff;
  
  --red: #e83f5b;
  --green: #4cd62b;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0; */
}

@font-face {
  font-family: "Sf-pro-text";
  src: local("Sf-pro-text"),
    url(../fonts/SFProText-Regular.ttf) format("opentype");
}

@media (max-width: 1080px) {
  html {
    font-size: 97.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 1rem Sf-pro-text;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
