.container-card {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 24px;

  flex-wrap: wrap;
}

.repository {
  /* margin-right: 2rem; */
  margin-bottom: 2rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 370px;
  word-wrap: break-word;
}

.repository header {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.repository header > strong {
  width: 200px;
  word-wrap: break-word;
}

.repository > .dropdown-divider {
  margin: 0 !important;
}

.repository header img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.repository_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 2.5rem;
}

.repository_buttons svg {
  display: flex;
  flex-direction: row;

  cursor: pointer;
}

.repository_buttons svg:first-child {
  margin-right: 1rem;
}

.repository strong {
  color: var(--black);
}

.repository strong {
  font-size: 0.8rem;
}

.repository ul {
  list-style: none;
  height: 178px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.repository li {
  color: var(--black);
  font-weight: bold;
  font-size: 1rem;
}
