.logo {
  width: 24px;
  /* justify-content: flex-start; */
}

.navbar-text-truncate {
  /* margin-right: 50px; */
  font-size: 1rem;
}

.navbar {
  background-color: var(--white);
  color: var(--secondary);
  height: 64px;
}

.lexicon-icon {
  font-size: 1rem !important;
  color: var(--secondary) !important;
}

/* .input-group-item {
  width: 10% !important;
} */

.navbar-nav > li {
  margin-right: 1rem;
}

.container-fluid ul:last-child {
  margin-left: 2rem;
}
